<%- include('includes/head.ejs') %>
</head>
<body>
    <main>
        <div class="w-screen">
            <div class="row">
                <div class="flex flex-col items-center justify-center">
                    <h1 class="text-center my-10 uppercase font-bold text-7xl text-transparent bg-clip-text 
                    bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500
                    [&::selection]:text-base-content [&::selection]:bg-blue-700/20
                    "><%= product.post_title %></h1>
                    <img src="<%= product.post_image %>" class="max-w-2xl mb-5"/>
                    <div>date: <strong>$<%= product.post_date %></strong></div>
                    <p class="mb-5"><%= product.post_description %></p>
                    <form action="/">
                        <input class="btn btn-outline btn-warning w-full" type="submit" value="Return to home" />
                    </form>
                </div>
            </div>
        </div>
    </main>
<%- include('includes/footer.ejs')  %>